body {
    font-size: 1rem;
}

header {
    >.container-header {
        margin-left: 50px;
        margin-right: 50px;
        width:fit-content;
        flex-direction: column;
    }
    >div>h1 {
        text-align: center;
    }
    >div>nav>div {
        display: flex;
        
    }
    >div>nav>div>a {
        text-decoration: none;
        color: $black;
        font-size: 1.25em;
    }
    >div>nav>div>a:hover {
        text-decoration:none;
        color: $warning;
        font-size: 1.25em;
    }
}

.container-nav {
    width:fit-content;
}
.div-transports {
    min-height: 80px;
}

.bg-grey {
    background-color: $lightgrey;
    box-sizing: border-box;
}

main>div>div>div>a {
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid $black !important;

    &:hover {
        color: $black !important;
        background-color: $white !important;
        border: 1px solid $black !important;
        box-sizing: border-box;
    }
}

.container-nav,
.container-transports,
.container-festival,
.container-liens-festival,
.container-h2-festival,
.container-spectacles {
    margin-left: 50px;
    margin-right: 50px;
}

.container-liens-festival {
    flex-flow: row wrap;
}

article {
    min-width: 304px;
    height: auto;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

    &:hover {
        transform: translateY(-10px);
      }

    >img {
        max-width: 100%;
    }

    >div {
        margin-left: 20px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $white;

        >a {
            text-decoration: none;
            color: $white;
            background-color: $black;
            width: fit-content;
            min-width: 140px;
            padding: 10px;
        }

        >a:hover {
            text-decoration: none;
            color: $black;
            background-color: $white;
        }

        >div {
            >div {
                display: flex;
                justify-content: space-between;
            }

            >p.date-spectacle {
                border-bottom: 3px solid $warning;
                opacity: 100%;
                margin-top: -15px;
                width: fit-content;
            }
        }
    }
}

.btn {
    border-radius: 0 !important;
}

.btn-warning:hover {
    background-color: $white;
    color: $warning;
}

.btn-white {
    background-color: $white;
}

.btn-white:hover {
    background-color: $warning;
}

@media only screen and (max-width: 768px){
    #navbarLinks {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    main>div>div>div>h2 {
        text-align: center !important;
    }
}